version: 2
jobs:
  build:
    docker:
      - image: mrivingt/testrail
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: Print Current Time
          command: date
      - run:
          name: A simple change
          command: curl -L rivington.testrail.net/index.php
      - run:
          name: What build is this
          command: cat /run/entrypoint/source/testrail-core/build.txt
      - run:
          name: TestRail admin user name
          command: cat /run/entrypoint/testrailUserName
    branches:
      ignore:
        - master
