version: 2
jobs:
  build:
    docker:
      - image: mrivingt/testrail
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: Greeting
          command: echo Hello, world.
      - run:
          name: Print the Current Time
          command: date
      - run:
          name: TestRail admin user name
          command: cat /run/entrypoint/testrailUserName
